* {font-size:12px; font-family: Verdana, sans-serif; }

h2 {font-size:14px; background-color: #2e7bcc; color: white; font-weight: bold; padding: 10px;}

a, a:visited {color: #0B6CDA; text-decoration: none;}
a:hover {text-decoration: underline;}

.title {background-color: #FFFFCC; padding: 10px; border: 1px solid #FFAA00;}
dt { float: left; font-weight: bold; min-width: 8em; }
dt, dd { padding-bottom: 0.5em; }
dt:after { content: ':'; }
dd.multi-line { clear: both; margin-left: 0; padding-top: 1em; }

ul li { padding-bottom: 0.5em; }

table {width:100%; border-collapse:collapse;}
td {color:#000; font-family: "Bitstream Vera Sans Mono","Monaco","Courier",monospace;}
td.sep {text-align:center; border-top:1px solid DimGray; border-bottom:1px solid DimGray;}

.ln {background-color: white; width: 35px; padding-right: 5px; text-align:right; color: #666; border-right: 1px solid #ccc; }

.r {background-color: #fdd;}
.rr {background-color: #faa;}
.a {background-color: #dfd;}
.aa {background-color: #afa;}
